@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", sans-serif;
}

header{
    background-color: black;
    color: white;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 64px;
}

.whole{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76.8rem;
}

.extra{
    padding: 0 30px 0 0;
}

.general ul{
    display: flex;
    align-items: center;
}
nav div ul li{
    list-style-type: none;
    padding: 10px 16px;
    font-size: 15px;
}

.about ul li{
    padding: 0px;
}

.drop-down{
    position: relative;
    left: 2px;
    top: 3px;
    height: 18px;
}

.person ul{
    display: flex;
    align-items: center;
}

.lang-logo{
    position: relative;
    top: 1.5px;
    right: 3px;
}

.inline{
    display: inline;
}

.login{
    background-color: #f2f3f2;
    color: black;
    border-radius: 30px;
    height: 33px;
    width: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
}

/* Main Start-Header Done */

.location{
    background-color: black;
    height: 50.27rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.location .location-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67.2rem;
}

.go-anywhere{
    margin: 0 0 0 -65px;
}

.heading{
    font-size: 3.1em;
    font-weight: 700;
    line-height: 4rem;
}

.loc{
    background-color: #f2f3f2;
    width: 24.9589rem;
    height: 3.199rem;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
}

.text1{
    margin: 0 0 0 1.919791rem;
    width: 19.2rem;
    height: 1.827rem;
    font-size: 1.1rem;
    border: none;
    background-color: #f2f3f2;
}

.text1:focus{
    outline-style: none;
}

.move1{
    position: relative;
    left: 1.5rem;
}

.padding{
    padding: 0 0 0 5px;
}

.des{
    background-color: #f2f3f2;
    width: 24.9589rem;
    height: 3.199rem;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
}

.move-1{
    position: relative;
}

.text2{
    margin: 0 0 0 1.919791rem;
    width: 21.12rem;
    height: 1.827rem;
    font-size: 1.1rem;
    border: none;
    background-color: #f2f3f2;
}

.text2:focus{
    outline-style: none;
}

.move2{
    position: relative;
    left: 1.5rem;
}

.prices{
    background-color: #f2f3f2;
    width: 8.64rem;
    height: 3.199rem;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
    color: black;
    justify-content: center;
    font-weight: 500;
}

/* .move3{
    position: absolute;
    top: 30.8rem;
    left: 9.9rem;
} */

.photo1{
    height: 43rem;
    padding: 0 0 0 50px;
}

.accounts{
    background-color: white;
}

.drive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 11rem;
}

.drive-whole{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96rem;
    height: 41.129rem;
    padding: 0px;
}

.drive-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.drive-content{
    padding: 0 0 0 7rem;
}

.drive-content h2{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 4rem;
}

.drive-content p{
    font-size: 1.01rem;
}

.drive-content figure{
    display: inline-block;
}

.get-started{
    background-color: black;
    color: white;
    height: 3rem;
    width: 8rem;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.bar{
    display: inline-block;
    margin: 0 0 0 1.5rem;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: lightgray;
}

.business{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 11rem;
}

.business-whole{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96rem;
    height: 41.129rem;
    padding: 0px;
}

.business-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.business-content{
    padding: 0 7rem 0 0;
}

.business-content h2{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 4rem;
    padding: 0 1rem 0 0;
}

.business-content p{
    font-size: 1.01rem;
}

.business-content figure{
    display: inline-block;
}

.get-started{
    background-color: black;
    color: white;
    height: 3rem;
    width: 8rem;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.bar{
    display: inline-block;
    margin: 0 0 0 1.5rem;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: lightgray;
}

.money{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 11rem;
}

.money-whole{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96rem;
    height: 41.129rem;
}

.money-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.money-content{
    padding: 0 0 0 7rem;
}

.money-content h2{
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 2.75rem;
}

.money-content p{
    font-size: 1.01rem;
}

.money-content figure{
    display: inline-block;
}

.get-started{
    background-color: black;
    color: white;
    height: 3rem;
    width: 8rem;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.qr-codes{
    background-color: #f6f7f7;
    color: black;
    height: 27.42rem;
}

.qr-codes-whole{
    display: block;
    padding: 4rem;
}

.qr-codes h2{
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 2.75rem;
    padding: 0 3.4rem 1.5rem 7.1rem;
}

.app-qr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.1rem;
}

.gen{
    background-color: white;
    height: 13.709rem;
    width: 35.312rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gen-1{
    height: 10rem;
}

.gen-2{
    height: 1.8rem;
    padding-left: 1rem;
}

.gen-content h3{
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
}

.apple{
    background-color: white;
    height: 13.709rem;
    width: 35.312rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apple-1{
    height: 10rem;
}

footer{
    background-color: black;
    color: white;
}

.end{
    padding: 6rem 4rem 4rem 4rem;
}

.top{
    padding: 0 7rem;
}

.top figure img{
    height: 1.2rem;
}

.mid{
    display: flex;
    justify-content: space-evenly;
    margin-left: -6.6rem;
}

.mid ul{
    list-style-type: none;
    line-height: 2rem
}

.other-li{
    font-weight: 400;
    font-size: 0.875rem;
}

.size{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.7rem;
}

.link img{
    padding-left: 5rem;
}

.link-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
}

.link-2 div{
    padding: 0 1rem;
}

.down-links{
    margin-left: 6.2rem;
}

.app-position{
    position: relative;
    bottom: 8px;
}

.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

.copy-1{
    color: #aeaeaf;
    margin-left: 6.5rem;
}

.copy-2 ul{
    color: #aeaeaf;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 7rem;
}

.copy-2 ul li{
    list-style-type: none;
    padding: 1rem;
}